
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager NavManager
@inject SignOutSessionStateManager SignOutManager

<div class="text-end">
    <AuthorizeView>
    <Authorized>
       <div>
            Hello @context.User.Identity!.Name!
            <a href="#" @onclick="BeginSignOut">Sign Out</a>
       </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log In/Sign Up</a>
    </NotAuthorized>
</AuthorizeView>
</div>

@code {

    async Task BeginSignOut(MouseEventArgs e)
    {
        await SignOutManager.SetSignOutState();
        NavManager.NavigateTo("authentication/logout");
    }
}
